.app {
  min-width: 640px;
  max-width: 960px;
  margin: 0 auto;

  .title {
    margin: 32px 0;
    text-align: center;
    color: #fff;
  }

  .tabs {
    display: flex;
  }

  .tab {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(0,0%,100%,.1);
    border: none;
    color: #888;
    cursor: pointer;
    padding: 24px;
    transition: all .5s ease-out;
    width: 100%;
  }

  .tab .text {
    margin-left: 12px;
  }

  .tab:hover {
    background-color: hsla(0,0%,100%,.15);
    color: #fff;
  }

  .tab:disabled {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    color: #fff;
  }

  .panel {
    display: none;
    background-color: #fff;
    font-size: 16px;
    padding: 24px 48px;
    text-align: justify;
  }

  .panel.active {
    display: block;
  }

  .copyright {
    margin: 32px 0;
    color: #fff;
    text-align: center;
  }

  .copyright a {
    color: inherit;
  }
}